@{
  Layout="Shared/_Layout.cshtml";
}


<div class="row">
      <div class="col-sm-3">
        <div class="input">
          <form id="user-input" action ="show_pingpong" method="post">
            <div class="form-group">
              <label for="input-number"><strong>Please enter a number: </strong></label>
              <input id ="input-number" name="input-number" class="form-control" type="number">
            </div>
            <button type="submit" class= "btn btn-primary">Ping-Pong!</button>
          </form>
        </div>
      </div>
    </div>
